*.log
*.aux
*.blg
*.tex
*.bk
*~
*swp
*-concordance.tex
cache
*.notes
ddd.*
*.tex
*.bbl
figure
figures
Births.rda
GettingStarted.bbl
example-file.pdf
*.synctex.gz
ByHand.pdf
MoreExamples.aux
.DS_Store
