Foundations.html
Foundations.pdf
FunctionsData-concordance.tex
FunctionsData.log
FunctionsData.tex
Master-Modeling.log
Master-Modeling.pdf
Master-Modeling.synctex.gz
Master-Modeling.tex
MultipleVariables-concordance.tex
MultipleVariables.log
MultipleVariables.tex
